<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS link -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- JS link -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    {% block title %}
    {% endblock title %}

    {% block css %}
    {% endblock css %}


</head>
<body style="background-color: rgb(237, 236, 234);">
    <!-- main div -->
    <div class="container my-5" >
        <!-- row div -->
        <div class="row my-5" >

            <!-- left section -->
            <div class="col-3 bg-light shadow border-end p-3" style="border-radius: 15px;">

                <!-- image div  -->
                <div style="padding: 10px; text-align: center;">
                    <img src="{% static 'image/1.jpg' %}" style="border-radius: 100px;" width="55%" height="125px" alt="">
                </div>

                <!-- name div -->
                <div>
                    <h2 style="text-align: center; font-family: Monaco;">Ankit Poonia</h2>
                </div>

                <div class="">
                    <ul class="list-group " style="list-style: none">
                        
                        <li><a href="{% url 'about' %}" style="text-decoration: none; border-radius: 10px;" class="list-group-item m-2">About Me</a></li>
                        <li><a href="{% url 'qualification' %}" style="text-decoration: none; border-radius: 10px;" class="list-group-item m-2">Qulifications</a></li>
                        <li><a href="{% url 'skills' %}" style="text-decoration: none; border-radius: 10px;" class="list-group-item m-2">Skills</a></li>
                        <li><a href="{% url 'experience' %}" style="text-decoration: none; border-radius: 10px;" class="list-group-item m-2">Experianse</a></li>
                        <li><a href="{% url 'project' %}" style="text-decoration: none; border-radius: 10px;" class="list-group-item m-2">Projects</a></li>
                        <li><a href="{% url 'contact' %}" style="text-decoration: none; border-radius: 10px;" class="list-group-item m-2">Contact Me</a></li>

                    </ul>
                

                </div>

            </div>

            <!-- right section -->
            <div class="col-9">
                {% block body %}
                {% endblock body %}
                
            </div>

        </div>

    </div>


    
</body>
</html>