{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Skills Page</title>
{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}


    <div class="ms-3 text-center rounded-4 text-light " style="background-color:rgb(222, 165, 31);">
        <h1>Skills</h1>
    </div>
<div class="container">
    <div class="container mt-5 ms-3 p-3 shadow rounded-4">
        <table class="table text-center">
            {% for key,value in skills.items %}

            <tbody>
                <td>{{key}}</td>
                <td><progress value="{{value}}" max="100"></progress></td>
                <td>{{value}}%</td>
            </tbody>
    
            {% endfor %}
        </table>
    </div>


</div>

{% endblock body %}